<div class="card">
  <h3 class="card-header"></h3>
  <form id="comment-form">
    <div>
      <label for="comment-content">Comment</label>
      <input class="input-lrg" type="textarea" id="comment-content" />
    </div>
    <div>
      <button class="btn">Submit</button>
    </div>
  </form>
</div>

<script src="/js/comment.js"></script>