<div class="card">
  <h2 class="card-header">Add Post</h2>
  <form class="add-post">
    <div>
      <label for="post-title">Title</label>
      <input class="input-sml" type="text" id="post-title" />
    </div>
    <div>
      <label for="post-content">Content</label>
      <input class="input-lrg" type="textarea" id="post-content" />
    </div>
    <div>
      <button id="add-post" class="btn" type="submit">Submit</button>
    </div>
  </form>
</div>

<script src="js/addPost.js"></script>