<div class="card">
  <h3>Login</h3>

  <form class="form login-form">
    <div>
      <label for="username-login">Username</label>
      <input type="text" class="input-sml" id="username-login" />
    </div>
    <div>
      <label for="password-login">Password</label>
      <input type="password" class="input-sml" id="password-login" />
    </div>
    <div>
      {{! <button class="btn btn-primary" type="submit">Login</button> }}
      <button class="btn" type="submit">Login</button>
    </div>
  </form>
  <p>
    <a class="link" href="/signup">Sign Up Instead</a>
  </p>
</div>

<script src="js/login.js"></script>