:root {
  --royal-blue: #0c1446;
  --seafoam: #87aca3;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
}

body {
  background-color: var(--royal-blue);
  margin: 7rem;
  padding: 0;
  color: var(--white);
  line-height: 1.5;
  font-size: 16px;
}

h2,
h3 {
  color: var(--seafoam);
  font-size: 2rem;
  margin-left: 20px;
}

.heading {
  margin: 3rem 20px;
  font-size: 4rem;
  padding: 20px 20px;
  border-radius: 10px;
  width: 80%;
  color: var(--seafoam);
}

nav {
  margin-left: 20px;
  align-self: center;
}

.nav-link {
  color: var(--white);
  text-decoration: none;
  padding-left: 10px;
}

nav a {
  font-size: 20px;
  color: var(--white);
  text-decoration: none;
  padding: 20px;
}

nav a:hover {
  font-size: 2rem;
  color: var(--seafoam);
  text-decoration: none;
}

p {
  margin-left: 20px;
  color: var(--white);
  font-size: 18px;
}

a {
  color: var(--seafoam);
  text-decoration: none;
}

a:hover {
  color: var(--seafoam);
  text-decoration: none;
  padding-right: 40px;
}

.btn {
  display: block;
  background-color: var(--seafoam);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  margin: auto;
  margin-top: 10px;
  font-size: 18px;
}

.btn:hover {
  color: var(--teal-green);
  background-color: var(--white);
  transform: translate(0, 0);
  box-shadow: var(--seafoam);
}

.btn-logout {
  background-color: var(--seafoam);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  width: 10%;
  margin: auto;
  margin-top: 10px;
  font-size: 18px;
}

.card {
  margin: 20px 0 20px 0;
  border: 3px solid var(--white);
  padding: 10px;
  box-shadow: white;
}

label {
  margin-left: 20px;
}

.input-sml {
  margin: 20px 20px;
  width: 90%;
  padding: 20px;
  font-size: 1rem;
  border: 2px solid var(--seafoam);
}

.input-lrg {
  margin: auto;
  width: 90%;
  height: 30%;
  padding: 20px;
  font-size: 1rem;
  border: 2px solid var(--seafoam);
}

.link {
  color: var(--seafoam);
  font-weight: bold;
  margin: auto auto;
  font-size: 20px;
  text-decoration: underline;
}

.user-details {
  font-size: 12px;
  font-weight: bold;
  color: var(--seafoam);
  margin-left: 20px;
}
